In [2]:
import datetime
print("==\nCHANGELOG\nThis notebook was last run on %s\n==" % datetime.date.today().strftime('%b %d, %Y'))

==
CHANGELOG
This notebook was last run on Apr 07, 2023
==

In [3]:
# Shuffle training dataframe
#data_df = data_df.sample(frac=1, random_state=42) # shuffle with random_state=42 for reproducibility
#data_df.head()

In [11]:
import numpy as np

random_int = np.random.randint(0, 10)
print(random_int)


import numpy as np

random_ints = np.random.randint(1, 7, size=10)
print(random_ints)

3
[6 1 5 6 4 5 1 2 4 5]

In [13]:
import pandas as pd

# create a sample dataframe
data = {'name': ['John', 'Peter', 'Amy', 'Mary'],
        'age': [25, 30, 20, 35],
        'country': ['USA', 'Canada', 'Australia', 'UK']}
df = pd.DataFrame(data)

# select the second row and the 'age' column using iloc
age_of_peter = df.iloc[0]['age']
print(age_of_peter)

25

In [14]:
import pandas as pd

# create a sample dataframe
data = {'name': ['John', 'Peter', 'Amy', 'Mary'],
        'age': [25, 30, 20, 35],
        'country': ['USA', 'Canada', 'Australia', 'UK']}
df = pd.DataFrame(data)

# select the first two rows and all columns using iloc
first_two_rows = df.iloc[0:2, :]
print(first_two_rows)

    name  age country
0   John   25     USA
1  Peter   30  Canada

In [16]:
"""
import re
X = [re.sub('http://\S+|https://\S+', '', text) for text in data_df['tweet']]
y = data_df['Toxicity'].values
"""

"\nimport re\nX = [re.sub('http://\\S+|https://\\S+', '', text) for text in data_df['tweet']]\ny = data_df['Toxicity'].values\n"

In [ ]:
"""

from sklearn.model_selection import train_test_split

# Use train_test_split to split training data into training and validation sets
train_sentences, val_sentences, train_labels, val_labels = train_test_split(np.array(X),
                                                                            np.array(y),
                                                                            test_size=0.1, # dedicate 10% of samples to validation set
                                                                            random_state=42) # random state for reproducibility

"""